*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow: hidden;
}

.bar-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 20px;
    position: relative;
    display: inline-flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.bar{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
    animation: load 6s ease-in-out infinite;
    /* opacity: 0.5; */
}

@keyframes load{
    0%, 100% {
        height: 20px;
    }

    50%{
        height: 700px;
    }
}

.bar-container .bar:nth-child(1){
    background: red;
    animation-delay: 7s;
}

.bar-container .bar:nth-child(2){
    background: yellow;
    animation-delay: 6.8s;
}

.bar-container .bar:nth-child(3){
    background: green;
    animation-delay: 6.4s;
}

.bar-container .bar:nth-child(4){
    background: blueviolet;
    animation-delay: 6.2s;
}

.bar-container .bar:nth-child(5){
    background: mediumspringgreen;
    animation-delay: 6s;
}

.bar-container .bar:nth-child(6){
    background: lightblue;
    animation-delay: 5.8s;
}

.bar-container .bar:nth-child(7){
    background: red;
    animation-delay: 5.6s;
}

.bar-container .bar:nth-child(8){
    background: yellow;
    animation-delay: 5.4s;
}

.bar-container .bar:nth-child(9){
    background: green;
    animation-delay: 5.2s;
}

.bar-container .bar:nth-child(10){
    background: blueviolet;
    animation-delay: 5s;
}

.bar-container .bar:nth-child(11){
    background: mediumspringgreen;
    animation-delay: 4.8s;
}

.bar-container .bar:nth-child(12){
    background: lightblue;
    animation-delay: 4.6s;
}

.bar-container .bar:nth-child(13){
    background: red;
    animation-delay: 4.4s;
}

.bar-container .bar:nth-child(14){
    background: yellow;
    animation-delay: 4.2s;
}

.bar-container .bar:nth-child(15){
    background: green;
    animation-delay: 4s;
}

.bar-container .bar:nth-child(16){
    background: blueviolet;
    animation-delay: 3.8s;
}

.bar-container .bar:nth-child(17){
    background: mediumspringgreen;
    animation-delay: 3.6s;
}

.bar-container .bar:nth-child(18){
    background: lightblue;
    animation-delay: 3.4s;
}

.bar-container .bar:nth-child(19){
    background: red;
    animation-delay: 3.2s;
}

.bar-container .bar:nth-child(20){
    background: yellow;
    animation-delay: 3.0s;
}

.bar-container .bar:nth-child(21){
    background: green;
    animation-delay: 2.8s;
}

.bar-container .bar:nth-child(22){
    background: blueviolet;
    animation-delay: 2.6s;
}

.bar-container .bar:nth-child(23){
    background: mediumspringgreen;
    animation-delay: 2.4s;
}

.bar-container .bar:nth-child(24){
    background: lightblue;
    animation-delay: 2.2s;
}
.bar-container .bar:nth-child(25){
    background: red;
    animation-delay: 2s;
}

.bar-container .bar:nth-child(26){
    background: yellow;
    animation-delay: 1.8s;
}

.bar-container .bar:nth-child(27){
    background: green;
    animation-delay: 1.6s;
}

.bar-container .bar:nth-child(28){
    background: blueviolet;
    animation-delay: 1.4s;
}

.bar-container .bar:nth-child(29){
    background: mediumspringgreen;
    animation-delay: 1.2s;
}

.bar-container .bar:nth-child(30){
    background: lightblue;
    animation-delay: 1s;
}

.bar-container .bar:nth-child(31){
    background: red;
    animation-delay: .8s;
}
